<?xml version="1.0"?>
<configuration>

  <system.webServer>
    <rewrite>
      <rules>

        <rule name="rule1">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^m\.libremaps\.net" />
          </conditions>
          <action type="Redirect" url="https://libremaps.net/m/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
